:root {
  --body-bg: rgb(190, 190, 190);
  --header-bg: rgb(150, 150, 150);
  --text: rgb(45, 5, 5);
  --link: rgb(110, 10, 10);
  --sidebar: white;
  --smoke: rgb(255, 255, 200);
  --flame: rgb(255, 180, 180);
  --tr: rgb(220, 220, 220);
}
.dark-mode {
  --body-bg: rgb(40, 40, 40);
  --header-bg: rgb(30, 60, 30);
  --text: rgb(205, 225, 200);
  --link: rgb(180, 180, 180);
  --sidebar: rgb(65, 65, 65);
  --smoke: rgb(65, 65, 10);
  --flame: rgb(53, 15, 15);
  --tr: rgb(70, 70, 70);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
