html, body, #diversion, #diversion-live {
	height: 100%;
}
:root {
  --tracks: rgb(230, 230, 230);
}
#diversion {
	display: flex;
	flex-direction: column;
}

#test-mode-button {
  position: absolute;
  bottom: 0;
  left: 50%;
}

#diversion-top {
	display: flex;
	justify-content: center;
	padding: 0 10px 10px;
	background: linear-gradient(0deg, rgb(190, 190, 190) 0%, rgb(250, 250, 250) 50%, rgb(165, 165, 165) 100%);
}
#obstruction-plan-finder {
  font-family: sans-serif;
  min-width: 1000px;
	width: 75vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	padding-top: 5px;
}
#area-selector, .buttons, h1 {
  user-select: none;
}
#diversion-control {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	max-width: 25vw;
	padding: 10px;
}
#event-start-button {
	background-color: red;
	font-weight: bold;
	padding: 8px;
	font-size: 20px;
}
#event-end-button {
	background-color: green;
	font-weight: bold;
	padding: 8px;
	font-size: 20px;
	color: white;
}
#stopwatch {
	padding: 8px;
	font-size: 34px;
	font-weight: bold;
	border: 3px solid black;
}

#finder-control {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#finder-tools {
  display: flex;
  width: 1000px;
  justify-content: space-around;
  align-items: center;
	padding: 8px;
  position: relative;
}
#finder-tools p {
  font-size: 18px;
  font-weight: bold;
}
#finder-tools div {
  display: flex;
  align-items: center;
}
#finder-tools button {
	padding: 5px;
	border-radius: 5px;
	color: black;
	font-size: 15px;
	letter-spacing: 0.5px;
	background-color: white;
}
#finder-tools .mini-button {
  padding: 3px;
  font-size: 8px;
  letter-spacing: normal;
  border-radius: none;
}
#mini-buttons {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
}
#statement {
	text-align: center;
}

#area-selector {
  margin: 15px auto;
  width: 1000px;
  padding: 20px 0;
  position: relative;
  background-color: grey;
}
#track-one-areas {
  position: absolute;
  top: 78px;
  z-index: 10;
  overflow: auto;
  width: 1000px;
}
#track-two-areas {
  position: absolute;
  top: 146px;
  z-index: 10;
  overflow: auto;
  width: 1000px;
}
.area {
  border: 2px dashed red;
  height: 65px;
  background-color: transparent;
  z-index: 10;
}
#area-one-one, #area-one-two {
  top: 50px;
  margin-left: 50px;
  width: 182px;
}
#area-two-one, #area-two-two {
  width: 36px;
}
#area-three-one, #area-three-two {
  margin-left: 24px;
  width: 40px;
}
#area-four-one, #area-four-two {
  width: 34px;
}
#area-five-one, #area-five-two {
  width: 28px;
}
#area-six-one, #area-six-two {
  margin-left: 10px;
  width: 20px;
}
#area-seven-one, #area-seven-two {
  width: 34px;
}
#area-eight-one, #area-eight-two {
  width: 108px;
}
#area-nine-one, #area-nine-two {
  width: 34px;
}
#area-ten-one, #area-ten-two {
  width: 18px;
}
#area-eleven-one, #area-eleven-two {
  margin-left: 8px;
  width: 30px;
}
#area-twelve-one {
  margin-left: 32px;
  width: 20px;
}
#area-twelve-two {
  margin-left: 20px;
  width: 44px;
}
#area-thirteen-one {
  margin-left: 22px;
  width: 30px;
}
#area-thirteen-two {
	margin-left: 10px;
  width: 30px;
}
#area-fourteen-one, #area-fourteen-two {
  width: 114px;
}
.area:hover {
  background: linear-gradient(rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2));
  z-index: 2;
}
#obstruction-plan-finder .labels p {
  font-family: 'courier new';
  font-weight: bold;
  display: inline-block;
  margin: 10px 10px;
	color: white;
}
#area-instruction {
	width: 800px;
	text-align: center;
	margin: 0 auto;
	font-size: 22px;
}
#obstruction-plan-finder p.label-extra-one {
  margin-left: 50px;
}
#obstruction-plan-finder p.label-extra-two {
  margin-left: 30px;
}
#track1, #track2 {
  background-color: var(--tracks);
  height: 13px;
  width: 1000px;
}
#track2 {
  margin-bottom: 5px;
}
.station {
  border: 1px solid black;
  background-color: blue;
  height: 14px;
  width: 28px;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  z-index: 1;
}
.stl {
  margin-left: 60px;
}
.bla {
  margin-left: 40px;
}
.cplat1 {
  top: 40px;
}
.cplat2 {
  bottom: 40px;
}
#xovers {
  display: flex;
}
.xover {
  height: 60px;
  width: 40px;
  display: flex;
  align-items: center;
}
.xover p {
  font-size: 40px;
  font-family: sans-serif;
	color: var(--tracks);
}
#tunx {
  margin-left: 50px;
}
#lyox {
  margin-left: 182px;
}
#uotx {
  margin-left: 112px;
}
#hurx {
  margin-left: 170px;
}
#trex {
  margin-left: 30px;
}
#stlx {
  margin-left: 10px;
}
#blax {
  margin-left: 110px;
}
#bottom-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 10px;
}
#bottom-buttons button {
  padding: 3px 8px;
	font-size: 16px;
}
#graphic {
	width: 1000px;
	margin: 15px auto;
	text-align: center;
}

/***************************************************************/

#obstruction-plan-finder table {
	margin: 15px auto;
	width: 1000px;
}
#obstruction-plan-finder th {
	text-align: center;
}
#obstruction-plan-finder table, #obstruction-plan-finder th, #obstruction-plan-finder td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
	background-color: var(--body-bg);
}

/***************************************************************/

#details th {
  color: white;
  background-color: blue;
}
#details th:nth-of-type(1), #details td:nth-of-type(1) {
	width: 220px;
}
#details th:nth-of-type(2), #details td:nth-of-type(2) {
	width: 380px;
}
#details th:nth-of-type(3), #details td:nth-of-type(3) {
	width: 400px;
}
#papids th:nth-of-type(1), #papids td:nth-of-type(1) {
	width: 70px;
}
#papids th:nth-of-type(2), #papids td:nth-of-type(2) {
	width: 630px;
}
#papids th:nth-of-type(3), #papids td:nth-of-type(3) {
	width: 300px;
}
.bolded td:nth-of-type(1) {
	font-weight: bold;
}
#papids {
	margin-bottom: 90px;
}
#papids th {
  background-color: yellow;
}
.cs .red th {
  background-color: #a00;
  color: white;
}
.cs .green th {
  background-color: #080;
  color: white;
}
.reasons {
  width: 600px;
}
.reasons th {
  background-color: #333;
  color: #ccc;
}



#diversion-live {
	flex: 2;
	display: flex;
}
h4 {
	text-align: center;
}
.after-title {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.suggestions {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	background-color: #999;
	opacity: 0.8;
	border-radius: 10px;
}
.suggestions span {
	border-radius: 3px;
	background-color: #ddd;
	padding: 3px;
	margin: 5px;
	color: #333;
}
.definite-suggestion {
	font-weight: bold;
}


#comms-live {
	display: flex;
	flex-direction: column;
	flex: 2;
	padding: 10px;
	justify-content: space-between;
	background: radial-gradient(ellipse at center, hsl(60,30%,100%) 0%, hsl(60,20%,70%) 100%);
}
#comms-log {
	flex: 2;
}
#chat {
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #ffd;
}
#chat-window {
	flex: 1;
	overflow-y: scroll;
	padding: 4px;
}
#chat-window-messages p {
	margin: 5px 0;
}
#chat-window-messages em {
	font-size: 12px;
}
#chat-form {
	display: flex;
	padding: 4px;
}
#chat-input {
	flex: 1;
}

#mainline-live {
	flex: 5;
	padding: 10px;
	display: flex;
	flex-direction: column;
	background: radial-gradient(ellipse at center, hsl(230,30%,100%) 0%, hsl(230,10%,70%) 100%);
}
#mainline-log {
	flex: 4;
}


#scada-live {
	flex: 2;
	padding: 10px;
	display: flex;
	flex-direction: column;
	background: radial-gradient(ellipse at center, hsl(120,30%,100%) 0%, hsl(120,10%,70%) 100%);
}
#scada-log {
	flex: 3;
}
