      #ios-reference {
        width: 700px;
        margin: 20px auto;
        overflow: none;
      }
      #ios-title {
        text-align: center;
        font-size: 24px;
        font-family: sans-serif;
      }

      .tooltip a {
        color: black;
        text-decoration: none;
      }

      .tooltip a:hover {
        font-weight: bold;
      }
      #codes {
        width: 700px;
        height: 250px;
      }
      #codes td {
        font-family: lucida console;
      }
      #codes, #index-table {
        border: 2px solid;
        border-collapse: collapse;
        border-spacing: 20px;
        padding: 3px;
      }
      #index-table {
        width: 700px;
      }
      #index-table tr {
        height: 1.9em;
      }
      #codes td, #index-table td {
        border: 1px solid black;
        padding-left: 8px;
        width: 60px;
        color: black;
      }

      .gd {
        background-color: #DDFFDD;
      }
      .el {
        background-color: #FFFFDD;
      }
      .wd {
        background-color: #FFD9B7;
      }
      .tp {
        background-color: #FFC4C4;
      }
      .ms {
        background-color: #BBCCFF;
      }
      .nt {
        background-color: #DDBBFF;
      }

      td.gd:hover {
        background-color: #AAFFAA;
      }
      td.el:hover {
        background-color: #FFFFAA;
      }
      td.wd:hover {
        background-color: #FFB98C;
      }
      td.tp:hover {
        background-color: #FFAAAA;
      }
      td.ms:hover {
        background-color: #88AAFF;
      }
      td.nt:hover {
        background-color: #C599FF;
      }

      sub:target + span.yellow {
        background-color: yellow;
        color: black;
        font-size: 1.6em;
        padding: 0 5px;
      }
      sub:target + span.orange {
        background-color: #FF8800;
        color: white;
        font-size: 1.6em;
        padding: 0 5px;
      }
      sub:target + span.red {
        background-color: red;
        color: white;
        font-size: 1.6em;
        padding: 0 5px;
      }
      sub:target + span.green {
        background-color: green;
        color: white;
        font-size: 1.6em;
        padding: 0 5px;
      }
      sub:target + span.blue {
        background-color: blue;
        color: white;
        font-size: 1.6em;
        padding: 0 5px;
      }
      sub:target + span.purple {
        background-color: purple;
        color: white;
        font-size: 1.3em;
        padding: 0 5px;
      }
      sub:target + span.purple a {
        color: white;
        font-weight: bold;
      }
      #door-open-note {
        font-size: 0.9em;
      }
      #detail-section, #index-table {
        font-size: 0.85em;
      }
      .tooltip {
        position: relative;
        display: inline-block;
      }
      /*
      table td span {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #FFF;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: 160px;
        opacity: 0;
        transition: opacity 0.3s;
      }*/
      .tooltip .tooltiptext {
        font-family: Tahoma, sans-serif;
        visibility: hidden;
        font-size: 1.3em;
        background-color: #555;
        color: #FFF;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        width: 200px;
        position: absolute;
        bottom: 350%;
        left: -50%;
        z-index: 5;
        margin-left: 2px;
        opacity: 0;
        transition: opacity 0.3s;
      }
      .gd .tooltip .tooltiptext {
        background-color: #22CC22;
        color: #FFF;
      }
      .el .tooltip .tooltiptext {
        background-color: #FFFF00;
        color: #000000;
      }
      .wd .tooltip .tooltiptext {
        background-color: #FF6600;
        color: #FFF;
      }
      .tp .tooltip .tooltiptext {
        background-color: #FF0000;
        color: #FFF;
      }
      .ms .tooltip .tooltiptext {
        background-color: #0000FF;
        color: #FFF;
      }
      .nt .tooltip .tooltiptext {
        background-color: #AA00FF;
        color: #FFF;
      }
      .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
      table sub {
        position: relative;
        top: -110px;
      }
